site_name: Design Space Graph (ADSG Core)
site_url: https://adsg-core.readthedocs.io/
repo_url: https://github.com/jbussemaker/adsg-core
docs_dir: docs
copyright: © 2026, Deutsches Zentrum für Luft- und Raumfahrt e.V.
theme:
  name: material
  features:
    - navigation.tabs
  custom_dir: docs/overrides

nav:
  - 'Overview':
    - 'Overview': index.md
    - 'Theory': theory.md
  - Guide:
      - Guide: guide.ipynb
      - 'Cardinality Guide': guide_cardinality.ipynb
      - 'Example: Apollo': example_apollo.ipynb
      - 'Example: GNC': example_gnc.ipynb
  - API Reference:
    - DSG: 'api_dsg.md'
    - Optimization: 'api_opt.md'

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - footnotes
  - attr_list
  - tables
  - toc:
      permalink: "#"

plugins:
  - mkdocs-jupyter
  - mkdocstrings:
      handlers:
        python:
          options:
            allow_inspection: true
            show_root_heading: true
            show_source: false
            show_bases: false
            show_signature_annotations: true
            merge_init_into_class: true

extra_css:
  - style.css
